[Desktop Entry]
Type=Application
Version=3.2.45
Name=Install CalinixOS (Calamares)
GenericName=Live Installer (Calamares)
Comment=Install the operating system to disk
Exec=pkexec --disable-internal-agent "/usr/bin/calamares" "$@"
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;